<div class="container">
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="thIcon"><fa-icon class="addImage" [icon]="addIcon">
                </fa-icon></th>
                <th scope="col">Name</th>
                <th scope="col">Home Address</th>
                <th scope="col">Email</th>
                <th scope="col">Population</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of customers;">
                <td class="thIcon">
                    <fa-icon class="me-2 delImage" [icon]="delIcon" (click)="onClickDelete(customer.id)">
                    </fa-icon>
                </td>
                <td>
                    <ngb-highlight [result]="customer.name+' '+customer.surname"></ngb-highlight>
                </td>
                <td><ngb-highlight [result]="customer.homeAddress"></ngb-highlight></td>
                <td><ngb-highlight [result]="customer.email"></ngb-highlight></td>
            </tr>
        </tbody>
    </table>
</div>