
.container {
    margin-top: 100px;
}

.delImage{
    cursor: pointer;
    color: rgb(179, 36, 36);
    font-size: 25px;
}

.addImage{
    cursor: pointer;
    color: rgb(43, 179, 36);
    font-size: 22px;
}

.colIcon {
    width: 0px; white-space: nowrap;
    
}

th,td {
    text-align: center;
    vertical-align: middle;
}