<div class="container">
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="colIcon"><fa-icon class="addImage" [icon]="addIcon">
                </fa-icon></th>
                <th scope="col">Name</th>
                <th scope="col">Home Address</th>
                <th scope="col">Email</th>
                <th scope="col">Contact</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of customers;">
                <td class="colIcon">
                    <fa-icon class="me-2 delImage" [icon]="delIcon" (click)="onClickDelete(customer.id)">
                    </fa-icon>
                </td>
                <td>
                    <ngb-highlight [result]="customer.name+' '+customer.surname"></ngb-highlight>
                </td>
                <td><ngb-highlight [result]="customer.homeAddress"></ngb-highlight></td>
                <td><ngb-highlight [result]="customer.email"></ngb-highlight></td>
                <td>
                    <div>
                        <button
                        type="button"
                        class="btn"
                        ngbPopover="You see, I show up on hover!"
                        triggers="mouseenter:mouseleave"
                        popoverTitle="Contact Phones">
                        <fa-icon class="me-2 contactImage" [icon]="contactIcon"></fa-icon>
                        </button>
                    </div>  
                </td>
            </tr>
        </tbody>
    </table>
</div>