<ng-template #content let-modal>
	<div class="modal-header">
        <h4 class="modal-title" id="modal-title">Add Customer</h4>
        <button
            type="button"
            class="btn-close"
            aria-describedby="modal-title"
            (click)="modal.dismiss('Cross click')"
        ></button>
    </div>
    <div class="modal-body">
        <form (ngSubmit)="onClickingAdd()" #submitform="ngForm" autocomplete="off">
            <div style="float:left; margin-right: 20px; margin-bottom: 10px;">
                <label for="name">Name: </label>
                <input id="name" type="text" class="form-control me-2">
            </div>
            <div style="float:left; margin-bottom: 10px;">
                <label for="surname">Surname: </label>
                <input id="surname" type="text" class="form-control me-2">
            </div>
            <div style="clear:both; margin-bottom: 10px;">
                <label for="address">Address: </label>
                <input id="address" type="text" class="form-control me-2">
            </div>
            <div style="margin-bottom: 10px;">
                <label for="email">Email: </label>
                <input id="email" type="text" class="form-control me-2">
            </div>
            <div style="float:left; margin-right: 10px; width: 140px;">
                <label for="homenumber">Home Number: </label>
                <input id="homenumber" type="text" class="form-control me-2">
            </div>
            <div style="float:left; margin-right: 10px; width: 140px;">
                <label for="worknumber">Work Number: </label>
                <input id="worknumber" type="text" class="form-control me-2">
            </div>
            <div style="float:left; width: 140px; margin-bottom: 20px;">
                <label for="cellphonenumber">Cellphone Number: </label>
                <input id="cellphonenumber" type="text" class="form-control me-2">
            </div>
            <div class="modal-footer" style="clear:both; margin-bottom: 0px;">
                <div style="margin-top: 20px;">
                    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
                    <button type="submit" class="btn btn-success" (click)="modal.close('Ok click')">Add</button>
                </div>
            </div> 
            
            
        </form>
    </div>
    
</ng-template>

<button class="btn btn-lg" (click)="open(content)"><fa-icon class="addImage" [icon]="addIcon"></fa-icon></button>