<div>
    <!-- <p>{{customer.name}} {{customer.surname}} {{customer.homeAddress}}</p>
    <p>Contact {{customer.email}}</p>
    <ul>
        <li>{{"Home Number: "+customer.homeNumber}}</li>
        <li>{{"Work Number: "+customer.workNumber}}</li>
        <li>{{"Cell Number: "+customer.cellphoneNumber}}</li>
    </ul> -->
    <!-- <td><ngb-highlight [result]="customer.name+' '+customer.surname"></ngb-highlight></td>
    <td><ngb-highlight [result]="customer.email" ></ngb-highlight></td>
    <td><ngb-highlight [result]="customer.homeAddress" ></ngb-highlight></td> -->

</div>
